@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


@mixin magic-border($width, $color, $duration, $direction){
    position:relative;
      &:before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        background:linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
        background-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        background-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        background-repeat:no-repeat, no-repeat;
        transition:transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg * $direction);
        transition-delay:$duration*2, $duration, 0s;
      }
      &:hover{
        &:before{
          background-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
          background-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
          transform:scaleX(1) rotate(180deg * $direction);
          transition-delay:0s, $duration, $duration*2;
        }
      }
  }
  
  @mixin magic-border-mask($width, $duration, $background, $direction){
    position:relative;
      &:before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height:calc(100% + #{$width * 2});
        top:calc(#{$width}/-1);
        left:calc(#{$width}/-1);
        mask:linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to left, #000 0%, #000 100%);
        mask-size:100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
        mask-position:50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
        mask-repeat:no-repeat, no-repeat;
        transition:transform $duration ease-in-out, mask-position $duration ease-in-out, mask-size $duration ease-in-out;
        transform:scaleX(0) rotate(180deg * $direction);
        transition-delay:$duration*2, $duration, 0s;
        background:$background;
      }
      &:hover{
        &:before{
          mask-size:200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
          mask-position:50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
          transform:scaleX(1) rotate(180deg * $direction);
          transition-delay:0s, $duration, $duration*2;
        }
      }
  }


body{
    font-family: 'Source Sans Pro', sans-serif;
    // overflow-y: hidden;
}

.navlink{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.navpad{
  height: 5vw;
}

.navbar{
    color: white;
    background-color: black;
    position:fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    .navbarElement{
        display: inline;
        align-items: center;
        padding: 0.7em;
        margin-left: 1em;
        cursor: pointer;
        width: 5em;
        text-align: center;
        margin-bottom: 1em;
        transition: 0.5s ease;
        @include magic-border(1px, rgba(255, 255, 255, 0.4), 0.3s, 0)
    }
    // .activeElement{
    //     background-color: rgba(255, 255, 255, 0.1);
    //     border-bottom-left-radius: 100%;
    //     border-bottom-right-radius: 100%;
    // }

}

.wholeCarousel{
  width: 80vw;
  margin-left: 10vw;
  .carouselTile{
    width: 100vw;
    height: 80vh;
    margin-top: 1.6em;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    
  }
}

.about{
  width: 100vw;
  height: 100vh;
  clear: both;
  .aboutImageSection{
    margin-left: 5vw;
    float: left;
    img{
      width: 25vw;
      height: 80vh;
      border-radius: 5%;
    }
  }
  .aboutTextSection{
    margin-right: 5vw;
    line-height: 2em;
    margin-left: 35vw;
  }
  
}

.therapies{
  // display: inline-block;
  // background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .therapie{

    width: 200px;
    height: 300px;
    margin-left: 2vw;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    color:white;
    text-align: center;
    align-items: center;
    display: inline-block;
    border-radius: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: 0.5s ease;
    position: relative;
    cursor: pointer;
    // border: 1px solid black;
    // img{
    //   width: 15vw;
    //   border-radius: 5%;
    // }
  }
  .therapie:hover .therapieOverlay{
    height: 100%;
  }
  .therapieOverlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 5%;
  }
  .therapieText{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    button{
      color: unset;
      background-color: unset;
      background-image: unset;
    }
    // .btn{
    //   border-radius: 0%;
    //   border: none;

    //   // font-size: 0.7em;
    // }
    
  }

  
}

.therapyActiveCard{
  width: 80vw;
  line-height: 2em;
  margin-left: 10vw;
  white-space: pre-wrap;
  h2{
    text-align: center;
  }
}

.footer{
  margin-top: 20vh;
  display: flex;
  background-color: #000;
  color: white;
  .footerAddress{
    width: 50vw;
    // background-color: aqua;
    .footerInner{
      margin-left: 2vw;
    }
  }
  .footerIcon{
    margin-right: 2vw;
    color: rgba(255, 255, 255, 0.4);
  }
}

.pageNotFound{
  h1{
    font-weight: bold;
  }
  p{
    font-weight: bold;
  }
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 15vw;
}

.therapieen{
  // padding-bottom: 10em;
  padding-top: 5vw;
  h2{
    text-align: center;
  }
  .therapieen-front-line{
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {

  .navbar{
    .navbarElement{
      padding-left: 0.4em;
      padding-right: 0.4em;
      margin-left: 0.5em;
      // line-height: 0.2em;
      ;
    }
  }

  .wholeCarousel{
    width: 100vw;
    // height: 60vh;
    // height: 520vh;
    margin-left: 0vw;
    .carouselTile{
      // width: 100vw;
      height: 30vh;
      font-size: 0.7em;
      line-height: 1em;
      // margin-top: 3em;
      // background-size: contain;
      // background-repeat: no-repeat;
      
    }
  }


  .about{
    width: 100vw;
    height: 100vh;
    margin-left: 0em;
    padding: 0%;
    // clear: both;
    .aboutImageSection{
      display: none;
      width: 0em;
      padding: 0em;

      img{
        display: none
      }
    }
    .aboutTextSection{
      // margin-right: 5vw;
      // line-height: 2em;
      // margin-left: 35vw;
    }
    
  }

  .footer{
    margin-top: 20vh;
    display: block;
    background-color: #000;
    color: white;
    .footerAddress{
      width: 100vw;
      padding-top: 1vh;
      // background-color: aqua;
      .footerInner{
        margin-left: 2vw;
      }
    }
    .footerIcon{
      margin-right: 2vw;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .navpad{
    height: 10vw;
  }
  .therapyActiveCard{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    line-height: 1.5em;

  }
  .therapieen{
    padding-top: 10vh;
    .therapieen-front-line{
      margin-left: 7vw;
      margin-right: 7vw;
    }
  }
  .therapies{
    .therapie{
      width: 150px;
      .displayHeader{
        display: none;
      }
      height: 225px;
      font-size: 0.7em;
      .therapieOverlay{
        height: 100%;
        .therapieText{
          font-size: 1.2em;
        }
      }
    }
  }
}

// @media screen and (max-width: 450px) {
//   .therapieText{
//     font-size: 0.1em;
//   }
//   .therapieen{
//     padding-top: 10vh;
//   }
//   .therapies{
    
//     .therapie{
//       font-size: 0.6em;
//       width: 100px;
//       height: 150px;
//     }
//   }
// }

